.carousel{
    margin:100px;
    width: 90%;
    border: 5px solid rgba(245, 99, 99, 0.445);
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    animation: spin 5s  infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}